.body3{
    margin: 0px;
    padding: 0px; 
    display:grid;
    height:95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10% 12% 80%;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'mn mn mn';
}

header{
    grid-area: hd;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: rgb(171, 118, 221);
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

nav{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: rgb(171, 118, 221);   
    margin-left: 2px;
    margin-right: 2px;
}

main{
    grid-area: mn;
    display: grid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'tc tc tc'
    'pr1 pr2 pr3';
}

.title_card{
    display: flex;
    grid-area: tc;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.mat_kort{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;    
}

.bild{
    width: 80%;
    padding: 10px;
    margin: 5px;
}

#bild2{
    width: 60%;
    padding: 10px;
    margin: 5px;
}

#karta{
    width: 85%;
}


.del1{
    grid-area: pr1;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'c1 c2';
}

#column1{
    grid-area: c1;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 40px;
    margin: 5px;
}

#column2{
    grid-area: c2;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;

    margin: 10px;
}



.del2{
    grid-area: pr2;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'c3 c4';
}

#column3{
    grid-area: c3;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
}

#column4{
    grid-area: c4;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'up'
    'ne'
}

#uppe{
    grid-area: up;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
}

#nere{
    grid-area: ne;
    font-size:large;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
}

.del3{
    grid-area: pr3;
    display: flex;
    font-size: large;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}
 
