body{
    margin: 0px;
    padding: 0px; 
    display:grid;
    height:100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10% 12% 80%;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'mn mn mn';
}

header{
    grid-area: hd;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: rgb(171, 118, 221);
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

nav{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex: 25;
    background-color: rgb(171, 118, 221);   
    margin-left: 2px;
    margin-right: 2px;
}

div{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex: 55;
    padding: 10px;
    margin: 5px;
}

main{
    grid-area: mn;
    display: grid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'tc tc tc'
    'mt vt fk';
}

.title_card{
    display: flex;
    grid-area: tc;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

#part1{
    grid-area: mt; 
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    height: 350px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white; 
}

#part2{
    grid-area: vt;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    height: 350px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white; 
}

#part3{
    grid-area: fk;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 400px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white; 
}


#part1 .bild{
    width: 70%;
}

#bild1{
    width: 85%;
}


/* ANDRA SIDAN BÖRJAR HÄR */
.mat_kort1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    flex-direction: row;  
}

.mat_kort2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    flex-direction: row;  
}

.mat_kort .Bild{
    width: 100%;
    overflow: hidden;
    object-fit:fill;
}

.Bild img {
    width: 80px;
}

.Bild .text{
    display: flex;
    flex-direction: column-reverse;
}

.text {
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
}

body #meat{
    display: flex;
    align-items: center;
}

body #vegitarian{
    display: flex;
    align-items: center;
}

#meat{
    grid-area: mt;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    width: 450px;
    background: rgb(133, 221, 139);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white;
}

#vegitarian{
    grid-area: vt;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    background: rgb(133, 221, 139);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white;

}

#fika{
    grid-area: fk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 10px;
    margin: 5px;
    background: rgb(133, 221, 139);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white;
}

.div1{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.div2{
    display: flex;
    justify-content:center;
    align-items: flex-start;
} 


/* TREDJE SIDAN BÖRJAR HÄR */


.bild{
    width: 100px;
    padding: 10px;
    margin: 5px;
}

/* #bild2{
    width: 60%;
    padding: 10px;
    margin: 5px;
} */

#karta{
    width: 85%;
}

body .del1{
    display: flex;
    align-items: center;

}
body .del2{
    display: flex;
    align-items: center;

}


.del1{
    grid-area: mt;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    width: 450px;
    background: rgb(171, 118, 221);
    background: rgb(118, 221, 125);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'c1 c2';
}

#column1{
    grid-area: c1;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
}

#column2{
    grid-area: c2;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding:20px;
    margin: 5px;
}



.del2{
    grid-area: vt;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'c3 c4';
    background: rgb(171, 118, 221);
    background: rgb(118, 221, 125);
    width: 450px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

#column3{
    grid-area: c3;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
}

#column4{
    grid-area: c4;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 20px;
    margin: 2px; 
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'up'
    'ne'
}

#uppe{
    grid-area: up;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

#nere{
    grid-area: ne;
    font-size:large;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

.del3{
    grid-area: fk;
    display: flex;
    font-size: large;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    width: 450px;
    background: rgb(118, 221, 125);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}
 
