body{ 
    display:grid;
    height:100vh;
    width:100vw;
    /* text-decoration: underline; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10% 12% 80%;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'mn mn mn';
}

header{
    grid-area: hd;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: rgb(171, 118, 221);
    /* padding: 10px; */
    /* margin: 5px; */
}

nav{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex: 25;
    background-color: rgb(171, 118, 221);   
    /* padding: 10px; */
    /*margin: 5px; */
}

main{
    grid-area: mn;
    display: grid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 5px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'tc tc tc'
    'mt vt fk';
}

div{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex: 55;
    padding: 10px;
    margin: 5px;
}

.bild{
    width: 150px;
}


.title_card{
    display: flex;
    grid-area: tc;
    justify-content: space-evenly;
}
.mat_kort{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;    
}

#meat{
    /* font-size:large;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px; */
    grid-area: mt;
    display: flex;
    font-size: large;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

.div1{
    font-size:medium;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.div2{
    font-size:medium;
    display: flex;
    justify-content:center;
    align-items: flex-start;
} 

#vegitarian{
    grid-area: vt;
    display: flex;
    font-size: large;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

#fika{
    grid-area: fk;
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}
