.body2{ 
    display:grid;
    height:95vh;
    width:100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10% 12% 80%;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'mn mn mn';
}

header{
    grid-area: hd;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: rgb(171, 118, 221);
    /* padding: 10px; */
    /* margin: 5px; */
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

nav{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: rgb(171, 118, 221);   
    margin-left: 2px;
    margin-right: 2px;
}

main{
    grid-area: mn;
    display: grid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'tc tc tc'
    'mt vt fk';
}

div{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex: 55;
    padding: 10px;
    margin: 5px;
}


.title_card{
    display: flex;
    grid-area: tc;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}


.mat_kort{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    flex-direction: column;  
    
}

.mat_kort .Bild {

    width: 100%;
    overflow: hidden;
    object-fit:fill;
}

.Bild img {
    width: 100%;
}

.text {
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-family: ralway;
}

#meat{
    grid-area: mt;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white;
}


#vegitarian{
    grid-area: vt;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white;

}

#fika{
    grid-area: fk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background-color: white;
}


.div1{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.div2{
    display: flex;
    justify-content:center;
    align-items: flex-start;
} 
