
body{
    margin: 0px;
    padding: 0px; 
    display:grid;
    height:98vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    /* background-color: rgb(255, 255, 255); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:10% 12% 80%;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'mn mn mn';
}

header{
    grid-area: hd;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: rgb(171, 118, 221);
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

nav{
    grid-area: nv;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: rgb(171, 118, 221);   
    margin-left: 2px;
    margin-right: 2px;
}



main{
    grid-area: mn;
    display: grid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    justify-content: space-evenly;
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'tc tc tc'
    'mt vt fk';
}

.title_card{
    display: flex;
    grid-area: tc;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

#part1{
    grid-area: mt; 
    font-size:large;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    height: 300px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(118, 221, 125); 
}

#part2{
    grid-area: vt;
    font-size:large;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    height: 300px;
    background: green;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    background-color:  rgb(118, 221, 125); 
}

#part3{
    grid-area: fk;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    margin-bottom: 5px;
    height: 400px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(118, 221, 125); 
}


#part1 .bild{
    width: 70%;
}

#bild1{
    width: 85%;
    display: flex;
    align-items: center;
}


/* ANDRA SIDAN BÖRJAR HÄR */


#meat{
    grid-area: mt;
    display: grid;
    padding: 10px;
    margin: 5px;
    width: 450px;
    grid-template-areas: 
    'dv'
    'd2';
    grid-template-columns:400px;
    grid-template-rows: 200px;
    gap:30px;
    
}

.div1{
    grid-area: dv;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 350px;
    height: 170px;
    padding: 10px;
    margin: 15px;
    background: rgb(118, 221, 125);    
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}


.div2{
    grid-area: d2;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 15px;
    width: 350px;
    height: 170px;;
    background: rgb(118, 221, 125);    
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}


#vegitarian{
    grid-area: vt;
    display: grid;
    padding: 10px;
    margin: 5px;
    width: 450px;
    grid-template-areas: 
    'dv'
    'd2';
    grid-template-columns:400px;
    grid-template-rows: 200px;
    gap:30px;
}


#fika{
    grid-area: fk;
    display: grid;
    padding: 10px;
    margin: 5px;
    width: 450px;
    grid-template-areas: 
    'dv'
    'd2';
    grid-template-columns:400px;
    grid-template-rows: 200px;
    gap:30px;
}

.mat_kort{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    width: 100px;
    height: 150px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.mat_kort2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    width: 100px;
    height: 150px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.mat_kort .Bild{
    height: 150px;
    width: 100%;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    object-fit:fill;
}

.mat_kort2 .Bild{
    height: 150px;
    width: 100%;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    object-fit:fill;
}

.Bild img{
    grid-area: Bd;
    width: 80px;
    display: flex;
    place-content: center;
    border-image-slice:13 13 13 13;
    border-image-width:
    13px 13px 13px 13px;
    border-image-outset:
    13px 13px 13px 13px;
    border-image-repeat:
    repeat repeat;
    border-image-source: url('/media/examples/border-diamonds.png');
    border-style:
    solid;
}   


.text{
    grid-area: tx;
    display: flex;
    place-content: center;
    justify-self: flex-start;
    font-size: 15px;
    padding: 20px;
    width: 130px;
    box-sizing: border-box;
}


/* TREDJE SIDAN BÖRJAR HÄR */


.bild3{
    width: 90%;
    margin: 3px;
}

#bild2{
    width: 60%;
    padding: 5px;
    margin: 5px;
}

#karta{
    width: 80%;
    margin: 3px;
}

body .del1{
    display: flex;
    align-items: center;

}
body .del2{
    display: flex;
    align-items: center;
}


.del1{
    grid-area: mt;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    width: 450px;
    background: rgb(118, 221, 125);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'c1 c2';
}

#column1{
    grid-area: c1;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items:center; 
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}

#column2{
    grid-area: c2;
    font-size:large;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end; 
    flex-wrap: wrap;
    padding:10px;
    margin: 5px;
}



.del2{
    grid-area: vt;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    width: 450px;
    background: rgb(118, 221, 125);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'c3 c4';
}

#column3{
    grid-area: c3;
    font-size:large;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

#column4{
    grid-area: c4;
    display: grid;
    text-decoration:solid;
    background-color: rgb(178, 195, 241);  
    padding: 10px;
    margin: 2px; 
    width: 100px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'up'
    'ne'
}

#uppe{
    grid-area: up;
    font-size:16px;
    display: flex;
    width:10em;
    justify-content:flex-start;
    align-items: center; 
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
}

#nere{
    grid-area: ne;
    font-size:16px;
    display: flex;
    width:10em;
    justify-content:right;
    align-items: center; 
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
}

.del3{
    grid-area: fk;
    display: flex;
    font-size: large;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    width: 450px;
    background: rgb(118, 221, 125);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}
 
